fastapi
uvicorn
langgraph
langchain
langchain-google-genai
langchain-huggingface
langchain-chroma
sentence-transformers
python-dotenv
langchain-google-vertexai
langfuse>=4.7,<5
google-cloud-aiplatform
google-auth
